.container {
    margin: auto;
    width: 80%;
}

.banners {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.title {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 25px;
    text-transform: uppercase;
    color: #969696;
}

.listing_big_title {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #4CB648;
}

.listing_detail_main {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
    color: #969696;
}

.furnitures_pets {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.facility_color {
    color: #4CB648;
}

.facility_flex {
    display: flex;
}


.facility_info1 {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 1200;
    font-size: 25px;
    line-height: 28px;
    color: #4CB648;
    margin-top: 0;
    margin-left: 3%;
}

.facility_info2 {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: #5F6367;
    margin-top: 0;
    margin-left: 3%;
}

.listing_caution {
    margin-bottom: 5%;
}

.listing_big_title2 {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #5F6367;
    margin: 0;
}

.listing_map_street {
    font-family: 'Lato';
    font-style: italic;
    font-size: 35px;
    color: #5F6367;
    margin: 0;
}

.listing_map {
    margin-bottom: 5%;
}

.listing_contact_us {
    margin-bottom: 5%;
}

.contact_info {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 0px;
    margin-top: 4%;
    margin-left: 5%;
    color: #5F6367;
}

.contact_details {
    margin-top: 3%;
}

.contact_detail_style {
    color: #5F6367;
}